:root {
    --brand-green: #910D3F;
    --brand-green-light: #fad2e1;
    --brand-green-light-02: #ffebf1;
    --brand-beige: #fff1f6;
    --brand-green-hover: #720d34;
    --gray-headline:#2e2428;
    --gray-paragraph: #574950;
    --white: #EDEDED;
}

.brand-green {
    color: var(--brand-green);
}

.brand-green-light {
    color: var(--brand-green-light);
}

.brand-green-light-02 {
    color: var(--brand-green-light-02);
}

.brand-beige {
    color: var(--brand-beige);
}

.brand-green-hover {
    color: var(--brand-green-hover);
}

.gray-headline {
    color: var(--gray-headline);
}

.gray-paragraph {
    color: var(--gray-paragraph);
}

.white {
    color: var(--white);
}